* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    background-image: url(./Images/lost-places-1510592_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    
}

/* NavBar */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #23313D ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 666;
}

header .logo {
    font: bolder 35px 'Grape Nuts', cursive;
    color: #79B3BD;
    font-weight: bolder;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font: 25px 'Grape Nuts', cursive;
    padding: 20px;
    color: #C1D7DA;
    font-weight: bolder;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #1D94A7;
    color: #23313D;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #1D94A7;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid #23313D;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

/* Landingpage */

.landing-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-height: 100vh;
}

.specials {
    grid-area: 2/2/4/8;
    backdrop-filter: blur(10px);
}

.top-rated-dl {
    grid-area: 2/10/4/12;
    padding-top: 20px;
}

/* Beatpool */

.single {
    height: 500px;
    width: 300px;
}

.beatpool {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #23313D ;
    backdrop-filter: blur(10px);
    

}

.boombap, .trap, .drill {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}










/* mobile */

#menu-bar {
    display: none;
}

header label {
    font-size: 25px;
    color: #79B3BD;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #23313D;
        border-top: 1px solid #23313D;
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background-color: #23313D;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    header .navbar ul li ul li ul li {
        background-color: #23313D;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}