* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

/* NavBar */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #23313D ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 666;
}

header .logo {
    font: bolder 25px Arial, Helvetica, sans-serif;
    color: #79B3BD;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font: 20px Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #C1D7DA;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #1D94A7;
    color: #23313D;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #1D94A7;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid #23313D;
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

/* mobile */

#menu-bar {
    display: none;
}

header label {
    font-size: 25px;
    color: #79B3BD;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #23313D;
        border-top: 1px solid #23313D;
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background-color: #23313D;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    header .navbar ul li ul li ul li {
        background-color: #23313D;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}