.slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
    
    width: 100%;
    height: 100%;
    z-index: 0; 
  }
  
  .slideshow .sh .sh-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
    
}
  
  
  
  .slideshow .sh:nth-child(1) .sh-content { 
      background-image: url(/Images/rabatt-special-card.png);
       
  }
  .slideshow .sh:nth-child(2) .sh-content { 
      background-image: url(/Images/snoop-dogg-specialcard.png);
      
      animation-delay: 6s; 
  }
  .slideshow .sh:nth-child(3) .sh-content { 
      background-image: url(/Images/ice-cube-specialcard.png);
      
      animation-delay: 12s; 
  }
    
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow .sh .sh-content {
      opacity: 1;
  }