.animation {
    height: 485px;
    width: 834px;
    backdrop-filter: blur(10px);
}
.sh-content:nth-child(1) {
    background-image: url(/Images/rabatt-special-card.png);
    background-position: 50% 50%;
    background-size: contain;
}
.sh-content:nth-child(2) {
    background-image: url(/Images/snoop-dogg-specialcard.png);
    background-size: contain;
    background-position: 50%;
    animation-delay: 6s;
}
.sh-content:nth-child(3) {
    background-image: url(/Images/ice-cube-specialcard.png);
    background-size: contain;
    background-position: 50%;
    animation-delay: 12s;
}

.sh-content {
    width: 835px;
    height: 485px;
    color: transparent;
    position: absolute;

    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 18s linear infinite 0s;
    -webkit-animation: imageAnimation 18s linear infinite 0s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    22% {
        opacity: 1;
    }
    36% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}